*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}
h3 {
    margin: 0;
    padding: 0;
}
.hero-tittle::before {
    content: '';
    background-image: url("Images/xYxqMUM1.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}
.hero-tittle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    text-align: center;
    padding: 50px 50px 10px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: space-around;
}
.name-glamping {
    text-align: left;
    margin: 0 0 -20px 0;
    padding: 0;
    font-size: 3em;
}
.name-malibu {
    text-align: left;
    margin: 0;
    padding: 0;
    color: #007C57;
    font-family: "Inspiration", cursive;
    font-size: 150px;
    font-weight: lighter;
}
.hero-buttons {
    position: absolute;
    right: 70px;
    bottom: 10px;
}
.container-conexion {
   
}
.conexion, .natural {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}
.conexion {
    text-align: left;
}
.natural {
    text-align: right;
}
.description-section {
    position: relative;
    padding: 20px 50px;
    background-color: #007C57;
    color: #fff;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.subtittle, .name-glamping {
    color: #FFB800;
    font-family: "Mogra", system-ui;
    font-weight: lighter;
}
.subtittle {
    font-size: 2em;
}
.gallery-section {
    background-color: #f5f5f5;
    padding: 0;
}
.gallery-tittle {
    margin: 0;
    padding: 20px;
    color: #007C57;
    font-family: "Mogra", system-ui;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
}
.carousel {
    min-height: 500px;

}
.carousel .carousel-item {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.carousel .carousel-item img {
    object-fit: cover;
    border-radius: 15px;
}
.carousel .indicators .indicator-item {
    background: #007C57;
    margin: 70px 10px;
}
.linea-division {
    width: 80%;
    height: 2px;
    background-color: #333;
}
.reviews-section {
    background-color: #f5f5f5;
    padding: 50px 0;
}
.container-valoraciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.btn {
    background-color: #FFB800;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
}
.btn-reserva {
    position: absolute;
    top: 30px;
    right: 70px;
    width: 7em;
    align-self: center;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 20px 30px;
    background-color: #fff;
    color: #FFB800;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    text-transform: uppercase;
    transform: rotate(8deg);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}
.row {
    margin: 0;
}